@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Declaring CSS variables here*/

:root {
  --font_size-h1: 3rem;
  --font_size-h2: 2.25rem;
  --font_size-h3: 1.25rem;
  --font_size-body: 1rem;

  --first-font: "Signika Negative", sans-serif;
  --second-font: "Source Code Pro", monospace;
  --font-wt1: 300;
  --font-wt2: 700;

  --light_color: #eeeeee;
  --dark_color: #393e46;
  --darker_color: #222831;
  --main_color: #3ec1d3;
}

/* Using media query here*/

/* styles for browsers larger than 800px */
@media (min-width: 960px) {
  :root {
    --font_size-h1: 4rem;
    --font_size-h2: 3.25rem;
    --font_size-h3: 1.25rem;
    --font_size-body: 1.1rem;
  }
}

/* Styling starts here :) */
body {
  background-color: var(--light_color);
  color: var(--dark_color);
  margin: 0;
  font-size: var(--font_size-body);
  font-family: var(--first-font);
  line-height: 1.6;
}

section {
  padding: 5rem 2rem;
}

strong {
  font-weight: var(--font-wt2);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.intro_img:hover {
  box-shadow: 10px 10px 5px var(--dark_color);
}

h1 {
  font-size: var(--font_size-h1);
}
h2 {
  font-size: var(--font_size-h2);
}
h3 {
  font-size: var(--font_size-h3);
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

/* section-title {
  margin-bottom: 5rem;
} */

.section_title-intro strong {
  display: block;
}

.section_title-intro {
  font-weight: var(--font-wt1);
}
.section_subtitle {
  margin-top: 0.8rem;
  font-size: var(--font_size-h3);
}

.section_subtitle-intro,
.section_subtitle-about {
  background: var(--main_color);
  margin-bottom: 2.5em;
  padding: 0.5rem 0.95rem;
  color: var(--light_color);
  font-weight: var(--font-wt2);
}

:focus {
  outline: 3px solid var(--main_color);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  background-color: var(--main_color);
  text-decoration: none;
  width: 15rem;
  padding: 10px 5px;
  margin-top: 3.5rem;
  /* border: var(--light_color) 0.25rem solid; */
  border-radius: 25px;
  color: var(--darker_color);
  cursor: pointer;
  font-weight: var(--font-wt1);
  transition: transform 200ms ease;
  font-weight: var(--font-wt2);
  text-transform: uppercase;
}

.btn:hover {
  transform: scale(1.1);
}

/* Header Section */

nav {
  display: none;
}

/* Introduction section */
.intro {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";

    grid-template-columns: min-content max-content;
  }

  .intro_img {
    grid-area: img;
    min-width: 250px;
    border-radius: 50%;
    border: 0.25rem double var(--main_color);
    box-shadow: 6px 6px 5px rgb(170, 169, 165);
    position: relative;
    z-index: 2;
  }

  .section_subtitle-intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    right: -1.5rem;
    width: calc(100% - 1.5rem);
  }
}

/* My services section */

.my-services {
  background-color: var(--dark_color);
  background-image: url("../images/main.jpg");
  color: var(--light_color);

  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.section_title-services {
  color: var(--main_color);
  position: relative;
}

.section_title-services::after {
  content: "";
  display: block;
  width: 12.5%;
  height: 1.5px;
  margin: 1.5rem auto 3.5rem;
  background: var(--light_color);
  opacity: 0.35;
}

.service {
  max-width: 70%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: var(--light_color);
  color: var(--darker_color);
  border-radius: 0 4rem 0 4rem;
  outline: 5px solid var(--light_color);
  outline-offset: 5px;
  transition: transform 150ms ease-in-out;
}

.service:hover {
  transform: scale(1.1);
}

@media (min-width: 960px) {
  .services {
    display: flex;
  }

  .service {
    margin: 0 2.5rem;
    padding: 2.5rem 1.5rem;
  }
}

/* About Me Section */

.about-me {
  max-width: 1000px;
  margin: 5rem auto;
}

.about-me_img {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em rgba(0, 0, 0, 0.15);
  height: 450px;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas: "title img" "subtitle img" "text img";
    grid-column-gap: 1em;
  }

  .section_title-about {
    grid-area: title;
  }

  .section_subtitle-about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    /* left: -2em; */
    width: calc(100% + 2em);
    padding-right: calc(400px + 2em);
    z-index: -1;
  }

  .about-me_img {
    grid-area: img;
  }
}

/* My Project Section */

.my-work {
  text-align: center;
  background-color: var(--dark_color);
  color: var(--light_color);
}

.section_subtitle-work {
  color: var(--main_color);
  font-weight: var(--font-wt1);
  margin-bottom: 1em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.portfolio_item {
  background: var(--main_color);
  overflow: hidden;
}

.portfolio_img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio_img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

/* Contact and Footer Section */
.contact {
  text-align: center;
}

.contact a.btn {
  margin: 0;
}
.footer {
  text-align: center;
  color: var(--light_color);
  background-color: var(--darker_color);
  padding: 4rem 2rem;
}

.icon {
  margin: auto 1rem;
  font-size: 2rem;
}

.icon:hover {
  opacity: 0.5;
}

.footer a {
  text-decoration: none;
  color: var(--light_color);
}

.footer-text {
  padding-top: 0.5rem;
  margin: 0;
}
